<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<servlet>
	<servlet-name>TestServletImpl</servlet-name>
	<servlet-class>com.jsp.TestServletImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServletImpl</servlet-name>
		<url-pattern>/tsi</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>TestServlet</servlet-name>
	<servlet-class>com.jsp.TestServletExG</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/ttt</url-pattern>
	</servlet-mapping>
	
</web-app>